* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: blue;
  display: flex;
  overflow: hidden;
  position: relative;
}
.container .box {
  width: 50%;
  position: relative;
  z-index: 1;
  transition: 1s width;
  transition-timing-function: cubic-bezier(0.6, 0.06, 0.34, 1);
}
.container .box .inner {
  width: 50vw;
  display: flex;
  padding: 0 10vw;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  align-self: start;
  transition-delay: 1s;
}
.container .box * {
  transition: 1s all;
}
.container .box .image {
  width: 15vw;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: 1s height, 1s left, 1s opacity;
  transition-timing-function: cubic-bezier(0.6, 0.06, 0.34, 1);
}
.container .box .image img {
  width: 100%;
  height: 100%;
}
.container .box h1 {
  font-size: 70px;
  font-weight: 900;
  color: white;
  font-style: oblique;
}
.container .box input {
  display: none;
}
.container .box .info {
  opacity: 0;
  color: white;
  transition: 2s all;
  position: absolute;
}
.container .box .arrow {
  color: white;
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container .box .button {
  height: 50px;
  padding: 0 40px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  color: white;
  cursor: pointer;
  z-index: 5;
}
.container .box.box1 {
  background: #0092d2;
}
.container .box.box1 .inner {
  right: 0;
}
.container .box.box1 .arrow {
  right: 20px;
}
.container .box.box2 {
  background: #ffab0f;
}
.container .box.box2 .inner {
  left: 0;
}
.container .box.box2 .arrow {
  left: 20px;
}
.container:not(:has(:checked)):has(.box:hover) .box:not(:has(:hover)) {
  width: 40%;
}
.container:not(:has(:checked)):has(.box:hover) .box:hover {
  width: 60%;
}
.container:has(:checked) .box:has(:checked) {
  width: 90%;
}
.container:has(:checked) .box:has(:checked) .inner {
  width: calc(100vw - 10%);
  transition-delay: 0s;
}
.container:has(:checked) .box:has(:checked) .inner .button {
  animation: 1s hideTag ease-in;
  opacity: 0;
  display: none;
}
.container:has(:checked) .box:has(:checked) .image {
  left: calc(100% - 15vw);
}
.container:has(:checked) .box:has(:checked) .info {
  opacity: 1;
  position: relative;
}
.container:has(:checked) .box:has(:checked) .arrow {
  opacity: 0;
  visibility: hidden;
}
.container:has(:checked) .box:not(:has(:checked)) {
  width: 10%;
  perspective: 250px;
}
.container:has(:checked) .box:not(:has(:checked)) .image {
  opacity: 0;
}
.container:has(:checked) .box:not(:has(:checked)) .inner *:not(.arrow) {
  opacity: 0;
}
.container:has(:checked) .box:not(:has(:checked)) .arrow {
  transform: rotateY(180deg) translateY(-50%);
  transform-origin: center center;
}

@keyframes hideTag {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
